<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<remove value="index.php" />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<rewrite>
			<rules>
				<rule name="Protect files and directories from prying eyes" stopProcessing="true">
					<match url="moodledata" />
					<action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Access is forbidden." />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
